.container {
  width: 100%;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}
.button_container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
